<h1>Participar en Concurso {{challenge.domain}}</h1>
<p>Creado: {{challenge.created_at}}</p>
<p>Abierto: {{challenge.open}}</p>

<form novalidate class="simple-form">
	<p>title <input type="text" ng-model="project.title" /></p>
	<p>description <input type="text" ng-model="project.description" /></p>
	<p>cover <input type="text" ng-model="project.cover" /></p>
	<p>link <input type="text" ng-model="project.link" /></p>
	<p>tags <input type="text" ng-model="project.tags" /></p>
	<p>TODO: hacer load file </p>
	<button ng-click="add(project)">grabar</button>
</form>
