<div id="view-project-container" ng-controller="projectCtrl" ng-init="viewInit()">
	
	<div class="jumbotron" ng-style="getCssJumbotron(challenge)">
		<div class="container">
			<h1>{{challenge.title}}</h1>
			<p>{{challenge.subtitle}}</p>
			<p><a href="/#/challenge/{{challenge._id}}" class="btn btn-default">volver al concurso</a></p>
		</div>
	</div>

	<div class="container">
	  <div class="row">
	    <div class="col-md-7">

			<div ng-repeat="s in challenge.submit_fields | orderBy:'order'">

				<h4 ng-style="getCssColor(challenge)">{{s.label}}</h4>

				<div ng-if="(s.type == 'title')">
					<h1 ng-style="getCssColor(challenge)">{{project[s.type]}}</h1>
				</div>

				<div ng-if="(s.type == 'description')">
					<p>{{project[s.type]}}</p>
				</div>

				<div ng-if="(s.type == 'link')">
					<a ng-style="getCssColor(challenge)" ng-href="{{project[s.type]}}">{{project[s.type]}}</a>
				</div>

				<div ng-if="(s.type == 'imageurl')">
					<img ng-src="{{project[s.type]}}" />
				</div>

				<div ng-if="(s.type == 'cover')">
					<img ng-src="{{project[s.type]}}" />
				</div>	

				<div ng-if="(s.type == 'videourl')">
					<iframe width="560" height="315" src="//www.youtube.com/embed/VMl0GbiVEyA?rel=0" frameborder="0" allowfullscreen="false"></iframe>
					{{project[s.type]}}
				</div>

				<div ng-if="(s.type == 'text')">
					<p>{{project[s.type]}}</p>
				</div>

				<div ng-if="(s.type == 'fileurl')">
					<a ng-style="getCssColor(challenge)" ng-href="{{project[s.type]}}">{{project[s.type]}}</a>
				</div>

				<div ng-if="(s.type == 'tags')">
					<p>{{project[s.type]}}</p>
				</div>

			</div>

	    </div>
	    <div class="col-md-4 col-md-offset-1">
			
	    	<div class="well" ng-if="isAbleTo('public-vote',challenge)">
				<a ng-click="vote(project._id)" href="javascript:;" class="btn btn-lg btn-block btn-primary" ng-style="getCssButtonColors(challenge)">
				Votar
				</a>
			</div>

			<div class="sidebar-data sidebar-someone">
				<h4 ng-style="getCssColor(challenge)">Enviado por:</h4>
				<a href="/#/profile/{{project.leader._id}}">
					<img ng-src="{{project.leader.picture}}" width="73" height="73" />
					<p class="lead">{{project.leader.name}}</p>
				</a>
			</div>

			<div class="sidebar-data sidebar-someone">
				<h4 ng-style="getCssColor(challenge)">Votos ({{project.followers.length}})</h4>
				<a href="/#/profile/{{v._id}}" ng-repeat="v in project.followers">
					<img ng-src="{{v.picture}}" width="25" height="25" title="NOMBRE" />
				</a>
			</div>

			<div class="sidebar-data">
				<h4 ng-style="getCssColor(challenge)">Creado:</h4>
				<p>{{project.created_at | date:'dd-MM-yyyy'}}  a las {{project.created_at | date:'HH:mm'}}Hs.</p>
			</div>

			<div ng-show="userCanEdit" class="sidebar-data">
				<h4 ng-style="getCssColor(challenge)">Actions</h4>
				<a href="/#/challenge/{{challenge._id}}/edit">Editar</a>
	    	</div>

	    </div>
	  </div>
	</div>
</div>
