<div id="view-project-container" ng-controller="projectCtrl" ng-init="viewInit()">
	
	<div class="jumbotron" ng-style="getCssJumbotron(challenge)">
		<div class="container">
			<h1>{{challenge.title}}</h1>
			<p>{{challenge.subtitle}}</p>
			<p><a href="/#/challenge/{{challenge._id}}" class="btn btn-default">volver al concurso</a></p>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-7">
				<div class="socials">
					<a twitter  data-lang="en" data-count='horizontal' data-url='http://google.com' data-via='notsosleepy' data-size="medium" data-text='Testing Twitter Share' ></a>
					<a facebook class="facebookShare" data-url='http://google.com' data-shares='facebookshares'>{{ facebookshares }}</a>
					<div gplus class="g-plus" data-size="tall" data-annotation="bubble" data-href='http://google.com' data-action='share'></div>
					<div style="width:43px !important; display:inline" pintrest data-href='http://google.com' data-description='testing share' data-img='http://plnkr.co/img/plunker.png' data-pin-do='buttonPin' data-pin-config='beside'></div>
				</div>
				<div ng-repeat="s in challenge.submit_fields | orderBy:'order'">
					<field-component field-schema="s" field-data="project[s.type]" view-mode="full"></field-formatter>
				</div>
				<div ng-show="challenge.allow_comments">
					<div id="disqus_thread" class="comments"></div>
					<script src="/js/disqus.js" disqus_shortname="participacion-gcba"></script>
				</div>
			</div>
			<div class="col-md-4 col-md-offset-1">
				<div class="well" ng-if="isAbleTo('public-vote',challenge)">
					<a ng-click="vote(project._id)" href="javascript:;" class="btn btn-lg btn-block btn-primary" ng-style="getCssButtonColors(challenge)">
					Votar
					</a>
				</div>

				<div class="sidebar-data sidebar-someone">
					<h4 ng-style="getCssColor(challenge)">Enviado por:</h4>
					<a href="/#/profile/{{project.leader._id}}">
						<img ng-src="{{project.leader.picture}}" width="73" height="73" />
						<p class="lead">{{project.leader.name}}</p>
					</a>
				</div>

				<div class="sidebar-data sidebar-someone">
					<h4 ng-style="getCssColor(challenge)">Votos ({{project.followers.length}})</h4>
					<a href="/#/profile/{{v._id}}" ng-repeat="v in project.followers">
						<img ng-src="{{v.picture}}" width="25" height="25" title="NOMBRE" />
					</a>
				</div>

				<div class="sidebar-data">
					<h4 ng-style="getCssColor(challenge)">Creado:</h4>
					<p>{{project.created_at | date:'dd-MM-yyyy'}}  a las {{project.created_at | date:'HH:mm'}}Hs.</p>
				</div>

				<div ng-show="userCanEdit" class="sidebar-data">
					<h4 ng-style="getCssColor(challenge)">Administración:</h4>
					<a href="/#/challenge/{{challenge._id}}/edit">Editar</a>
				</div>
			</div>
		</div>
	</div>
</div>
