<h1>Concurso {{challenge.title}}</h1>
<a href="/#/challenge/{{challenge._id}}">ver concurso</a>
<h2>data</h2>
<p>Slug: {{challenge.slug}}</p>
<p>Abierto: {{challenge.open}}</p>

<h2>Postulacion</h2>

<p ng-repeat="s in challenge.submit_fields">	
	{{s.label}} |
	{{s.type}} |
	{{s.help}} |
	{{project[s.type]}}
</p>

<h2>Leader</h2>
<a href="/#/profile/{{project.leader._id}}">
	<img ng-src="{{project.leader.picture}}" />
</a>

<h2>VOTES ({{project.followers.length}})</h2>
<p ng-repeat="v in project.followers">	
	<a href="/#/profile/{{v._id}}">
		<img ng-src="{{v.picture}}" />
	</a>
</p>

<a ng-click="vote()" href="javascript:;">votar</a>