{
  "db": {
    "name": "openchallenge",
    "host": "localhost",
    "url": null
  },  
  "host": "local.host",
  "port": 3000,
  "session": "wefewfef",
  "disqus_shortname": null,
	"title": "openchallenge",
	"live": true,
	"mailer": null
}
