{
  "db": {
    "name": "openchallenge",
    "host": "localhost",
    "url": null
  },  
  "host": "local.host",
  "port": 3000,
  "session": "gcba654gcba321gcba987",
  "disqus_shortname": null,
  "title": "Concursos BA",
  "live": false,
  "mailer": null
}
