{
    "openid": {
      "returnURL": "http://local.host:3000/auth/openid/callback",
      "realm": "http://local.host:3000/auth/openid/callback",
      "providerURL":"https://id.local.url/openid/",
      "profile": true,
      "stateless": true
    }
}
