<div class="jumbotron">
  <div class="container">
    <h1>Hello, world!</h1>
    <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
    <p><a class="btn btn-primary btn-lg" role="button">Learn more »</a></p>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <h1>Challenges</h1>
        <div class="col-md-4">
          <div ng-repeat="c in challenges">
          	<a href="/#/challenge/{{c._id}}">
          		<p>{{c.slug}}</p>
          		<p>{{c.created_at}}</p>
          	</a>
          </div>
        </div>
      </div>

      <h1>Projects</h1>
      <div ng-repeat="c in projects">
      	<a href="/#/submit/{{c._id}}">
      		<p>{{c.created_at}}</p>
      	</a>
      </div>
    </div>
    <div class="col-md-4">
      Hola
    </div>
  </div>
</div>