<div class="jumbotron">
  <div class="container">
    <h1>Concursos y desafíos BA</h1>
    <p>En este sitio podrás encontrar los concursos y desafíos que propone el Gobierno de la Ciudad de Buenos Aires.</p>
    <p><a class="btn btn-primary btn-xl" role="button" ng-click="goToChallenges()">Ver concursos</a></p>
  </div>
</div>
<div class="container">
  <div class="row">
    
    <div id="challenge-container" class="col-md-7">
        <h2>Concursos</h2>
        <div class="panel panel-default" ng-repeat="c in challenges">
        	<a class="challenges-link" href="/#/challenge/{{c._id}}">
            <div class="media">
              <span class="pull-left img-container">
                <img class="media-object" ng-src="{{c.header_images[0]}}" height="200" />
              </span>
              <div class="media-body">
                <div class="container-fluid">
                  <div class="row">
                    <h3 class="media-heading">{{c.title}}</h3>
                    <p>{{c.subtitle}}</p>
                    <p ng-if="c.open"><span class="label label-success">ABIERTO</span></p>
                    <p ng-if="!c.open"><span class="label label-danger">CERRADO</span></p>
                  </div>
                </div>
              </div>
            </div>
        	</a>
        </div>
    </div>

    <div id="project-container" class="col-md-4 col-md-offset-1">
      <h2>Participaciones</h2>
      <div class="panel panel-default" ng-repeat="c in projects">
          <a class="project-link" href="/#/submit/{{c._id}}">
            <div class="media">
              <span class="pull-left img-container">
                <img class="media-object" ng-src="{{c.leader.picture}}" height="100" />
              </span>
              {{vo}}
              <div class="media-body">
                <div class="container-fluid">
                  <div class="row">
                    <h4 class="media-heading">{{c.leader.name}}</h4>
                    <p>Enviado el: {{c.created_at | date:'dd-MM-yyyy'}}</p>
                    <p>Votos: {{c.followers.length}}</p>
                  </div>
                </div>
              </div>
            </div>
          </a>
      </div>
    </div>
  
  </div>
</div>

<style type="text/css">
  body {background-color: #eee;}
  .jumbotron {border:0 none;}
</style>