<div id="view-user-container">
	<div ng-include="'ng-client/modules/partials/header-simple.html'"></div>
	<div class="container">
		<div class="row">
				<div class="col-md-12">
					<h1>Administrador - Mis concursos</h1>
					<table class="table table-striped">
						<thead>
							<tr>
								<th>Título</th>
								<th>Subtítulo</th>
								<th>Abierto</th>
								<th>Acciones</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="c in challenges">
								<td>{{c.title}}</td>
								<td>{{c.subtitle}}</td>
								<td>{{t(c.open)}}</td>
								<td><a href="/#/challenge/{{c._id}}">ver</a> | <a href="/#/challenge/{{c._id}}/edit">edit</a> | <a ng-click="removeChallenge(c)" href="javascript:;">eliminar</a> | <a href="/#/challenge/{{c._id}}/edit/projects">ver participaciones</a></td>
							</tr>
						</tbody>
					</table>
				</div>
		</div>
	</div>
</div>