/* Global */

body {

}
footer {
  height:300px;
  background-color: #1d1d1b;
  margin-top:150px;
}
h2 {
  margin-bottom: 20px;
}

/* Navbar */

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
  margin-top:5px;
}
.navbar img.avatar {
  border-radius: 100px;
  width:28px;
  height: 28px;
  display:inline-block;
  margin-right: 10px
}

/* Jumbotron */

.jumbotron {
  background-image: url(../images/bg.jpg);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  background-position: fixed;
  color:#FFF;
  text-align: center;
  margin-bottom:50px;
  position: relative;
  -webkit-box-shadow: inset 0 -4px 8px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 -4px 8px rgba(0, 0, 0, 0.2);
  border-bottom-style:solid;
  border-bottom-width:20px;
  text-shadow: 0 1px 4px rgba(0,0,0,.6);
}
.jumbotron .container  {
  padding: 150px 0 100px 0;
}
.jumbotron .btn {
  margin-top: 24px;
  padding-left:80px;
  padding-right:80px;
  text-shadow: none;
}
.jumbotron .nav-tabs {
  border-bottom: 0 none;
  position: relative;
  bottom: -167px;
}

@media (max-width: 767px) {
.jumbotron .nav-tabs {bottom: -149px;margin-left:-15px;}
.jumbotron .nav-tabs>li>a {padding-left: 4px;padding-right: 4px;}
}


.jumbotron .nav-tabs>li>a {
  border: 1px solid transparent;
  background-color: #999;
  color: #fff;
  text-shadow: none;
}
.jumbotron .nav-tabs>li>a:hover {
  border: 1px solid transparent;
  background-color: #aaa;
}

.jumbotron .nav-tabs>li.active>a {
  color: #555;
  background-color: #fff;
  border: 1px solid transparent;
}
.tabs-bg {
  width: 100%;
  height: 50px;
  background:#f00;
  display:none;
}

/* HOME Challenges + Projects */

.container-home {
  background-color:#eee;
}
#challenge-container, #project-container {
 margin-top:-20px;
}
#challenge-container .panel, #project-container .panel {
  border: 0 none;
}
.media .media-body {
  padding: 20px;
}
.challenges-link, .project-link {
  display: block;
}
.challenges-link:hover, .project-link:hover {
  text-decoration: none;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(153, 153, 153, 0.6);
}
.challenges-link, .challenges-link:hover, .challenges-link:active,
.project-link, .project-link:hover, .project-link:active {
  color: #333;
}
.challenges-link .media img,
.project-link .media img {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

/* HOME Challenges */

#challenge-container .panel .img-container {
  width: 200px;
  height: 200px;
  overflow: hidden;
  text-align: center;
  background-image: url('https://lh4.ggpht.com/MQsgWsIpedryB7kjzGGe_z5YW0eeK0K-bHLZhjONBJVKP95Fz9dSd24GjUR2rYo2xsY=w200');
  background-position: center center;
}

/* HOME projects */

#project-container .project-link {
  height: 100px;
}
#project-container .project-link p {
  line-height: 0.8;
}
#project-container .panel .img-container {
  width: 100px;
  height: 100px;
  overflow: hidden;
  text-align: center;
  background-image: url('https://lh4.ggpht.com/MQsgWsIpedryB7kjzGGe_z5YW0eeK0K-bHLZhjONBJVKP95Fz9dSd24GjUR2rYo2xsY=w200');
  background-position: center center;
}

/* Cards Projects */

#submissions .col-md-12 select {
  margin-bottom:20px;
}

#submissions .thumbnail {
  border-top-width:10px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  overflow: hidden;
  padding:0;
}

#submissions .thumbnail .text-muted {
  margin-top: 20px;
  margin-bottom: 5px;
}

#submissions .thumbnail h4 {
  text-align: center;
  font-size:24px;
  margin: 0 0 20px 0;
}

#submissions .thumbnail img {
  width:100%;
  height:auto;
}

#submissions .thumbnail-content {
  padding: 20px;
}

#submissions .thumbnail-footer {
  padding: 20px;
  margin-top:20px;
  border-top:solid 1px #ddd;
}

.container img {
  max-width: 100%;
}

/* Modal */

#view-challenge-container .modal-header, #view-challenge-container .modal-header .close {
  color:#fff;
}

#view-challenge-container .modal-header, #view-challenge-container .modal-footer {
  padding:40px 100px;
}

#view-challenge-container .modal-content form {
  padding:10px 80px;
}

#view-challenge-container .modal-body {
  margin-bottom:0;
}

#view-challenge-container .col-md-4 .well .btn {
  margin-top:10px;
  margin-bottom:10px;
}

/* Sidebar */

#view-challenge-container .col-md-4 .well .btn, #view-project-container .col-md-4 .well .btn {
  margin-top:10px;
  margin-bottom:10px;
}

#view-challenge-container .col-md-4 h4, #view-project-container .col-md-4 h4 {
  margin-top:40px;
}

#view-challenge-container .col-md-4 p, #view-project-container .col-md-4 p {
  color:#999;
  margin-bottom:4px;
}

#view-challenge-container .col-md-4 h5 span {
  display: block;
  padding:10px 0;
}

/* Project */

#view-project-container .jumbotron .container {
  padding: 30px 0 0 0;
}

#view-project-container .col-md-7 h4 {
  margin-top:40px;
  margin-bottom:5px;
}

#view-project-container .col-md-7 img {
  width:100%;
  height:auto;
}

#view-project-container .col-md-4 img {
  border-radius: 100px;
}












