<h2>Participaciones: ({{projects.length}})</h2>
	<div ng-controller="projectCtrl">
		<div class="row">
			<div class="col-md-12">
				<p ng-if="challenge.categories.length > 0">
					<select ng-model="filter.cat" ng-options="option for option in challenge.categories" ng-change="changeFilter()" class="form-control input-lg">
						<option value="">Todas las categorías</option>
					</select>
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<select ng-model="filter.order" ng-change="changeFilter()" class="form-control input-lg">
					<option value="">-- Filtrar por --</option>
					<option value="date">Fecha de creación</option>
					<option value="status">Premio</option>
					<option value="votes">Votos</option>
				</select>
			</div>
		</div>

		<div ng-show="projects.length == 0" class="row">
			<p>No hay participaciones con este filtro</p>
		</div>

		<div class="row" >
			<div  class="col-md-6" ng-repeat="project in projects  | filter : paginate | orderBy: 'created_at' : true " ng-include="'ng-client/modules/project/card.html'">

			</div>
		</div>

		 <pagination total-items="totalItems" ng-model="currentPage" max-size="5" items-per-page="numPerPage" class="pagination-sm" previous-text="Anterior" next-text="Siguiente" first-text="Primera" last-text="Última" boundary-links="true">
        </pagination>
	</div>