<style type="text/css">
#loaderDiv {
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1100;
   background-color: #000;
   opacity: .6;
}

.ajax-loader {
   position: absolute;
   left: 50%;
   top: 50%;
   margin-left: -32px; /* -1 * image width / 2 */
   margin-top: -32px; /* -1 * image height / 2 */
   display: block;
}</style>

<div id="loaderDiv" loader>
    <img src="/images/loader-spinner.gif" class="ajax-loader"/>
</div>

<h2>Participaciones: ({{projects.length}})</h2>
<div ng-bind-html="p.text" ng-init="applyCssColor(challenge,'tab-content-container')"></div>
	<div ng-controller="projectCtrl">
		<div class="row">
			<div class="col-md-12">
				<p ng-if="challenge.categories.length > 0">
					<select ng-model="filter.cat" ng-options="option for option in challenge.categories" ng-change="changeFilter()" class="form-control input-lg">
						<option value="">Todas las categorías</option>
					</select>
				</p>
			</div>
		</div>
		<!--<div class="row">
			<div class="col-md-12">
				<select ng-model="filter.order" ng-change="changeFilter()" class="form-control input-lg">
					<option value="">-- Filtrar por --</option>
					<option value="date">Fecha de creación</option>
					<option value="status">Premio</option>
					<option value="votes">Votos</option>
				</select>
			</div>
		</div>-->
        <div class="row">
            <div class="col-md-12">
                <div class="input-group">
                    <input type="text" name="search" class="form-control input-lg ng-pristine ng-valid" placeholder="Buscar participaciones">
	    <span class="input-group-btn">
		    <button class="btn btn-default btn-lg">&nbsp;&nbsp;&nbsp;Buscar&nbsp;&nbsp;&nbsp;</button>
		  </span>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <h4>Filtrar por</h4>
                <select ng-model="filter.order" ng-change="changeFilter()" class="form-control ng-pristine ng-valid">
                    <option value="0">Ver todos</option>
                    <option value="1">Mis participaciones</option>
                    <option value="1">Categoría 1</option>
                    <option value="2">Categoría 2</option>
                    <option value="3">Categoría 3</option>
                </select>
            </div>
            <div class="col-md-6">
                <h4>Ordernar por</h4>
                <div class="btn-group btn-group-justified" data-toggle="buttons">
                    <label href="#" class="btn btn-default active">
                        <input type="radio" name="orden" value="F" checked> Fecha
                    </label>
                    <label href="#" class="btn btn-default">
                        <input type="radio" name="orden" value="M"> Votos
                    </label>
                </div>
            </div>
        </div><br><br>



		<div ng-show="projects.length == 0" class="row">
			<p>No hay participaciones con este filtro</p>
		</div>

		<div class="row">
			<div class="col-md-12" ng-repeat="project in projects  | filter : paginate | orderBy:'$index':true" ng-include="'ng-client/modules/project/card.html'">
			</div>
		</div>

		 <pagination total-items="totalItems" ng-model="currentPage" max-size="5" items-per-page="numPerPage" class="pagination-sm" previous-text="Anterior" next-text="Siguiente" first-text="Primera" last-text="Última" boundary-links="true">
        </pagination>
	</div>