<div class="container">
	<div class="row">
			<div class="col-md-12">
				<h2>Perfil</h2>

				<img ng-src="{{user.picture}}"/>
				<form novalidate class="simple-form">
					<p>ID {{user._id}}</p>
					<p>Creado el {{user.created_at}}</p>
					<div class="form-group">
						<label>Nombre</label>
						<input class="form-control" type="text" ng-model="user.name" placeholder="Ingrese un nombre"/>
					</div>
					<div class="form-group">
						<label>Email</label>
						<input class="form-control" type="text" ng-model="user.email" placeholder="Ingrese un email"/>
					</div>
					<div class="form-group">
						<label>Biografía</label>
						<input class="form-control" type="text" ng-model="user.bio" placeholder="Contanos de vos"/>
					</div>
					<div class="form-group">
						<a class="btn" href="/#/profile/{{user._id}}">Ver perfil</a>
						<button class="btn btn-primary" ng-click="update(user)">Grabar</button>
					</div>
				</form>
				
			</div>
	</div>
</div>