<div id="view-user-container">
	<div ng-include="'ng-client/modules/partials/header-simple.html'"></div>
	<div class="container container-perfil">
		<div class="row">
			<div class="col-md-12">
				<h1>Perfil de {{user.name}}</h1>
			</div>
		</div>
		<div class="row">
				<div class="col-md-2">
					<img ng-src="{{user.picture}}"/>
					<p><strong>ID</strong> <small>{{user._id}}</small></p>
					<p><strong>Creado el</strong><br />{{user.created_at  | date:'dd-MM-yyyy'}} a las {{user.created_at | date:'HH:mm'}}Hs. </p>
				</div>
				<div class="col-md-10">
					<form novalidate class="simple-form">
						<div class="form-group">
							<label>Nombre</label>
							<input class="form-control" type="text" ng-model="user.name" placeholder="Ingrese un nombre"/>
						</div>
						<div class="form-group">
							<label>Email</label>
							<input class="form-control" type="text" ng-model="user.email" placeholder="Ingrese un email"/>
						</div>
						<div class="form-group">
							<label>Biografía</label>
							<input class="form-control" type="text" ng-model="user.bio" placeholder="Contanos de vos"/>
						</div>
						<div class="form-group">
							<a class="btn btn-default" href="/#/profile/{{user._id}}">Ver perfil</a>
							<button class="btn btn-primary" ng-click="update(user)">Grabar</button>
						</div>
					</form>
				</div>
		</div>
	</div>
</div>