<h1>Profile</h1>

<p>ID {{user._id}}</p>
<p>Creado el {{user.created_at}}</p>
<p>Email {{user.email}}</p>
<p>Nombre {{user.name}}</p>
<p>bio {{user.bio}}</p>
<p>Provider {{user.provider}}</p>

<img ng-src="{{user.picture}}"/>

<h2>admin in</h2>
<div ng-repeat="e in user.admin_in">
	<p>{{e}}</p>
</div>

<h2>collections</h2>
<div ng-repeat="e in user.collections">
	<p>{{e.title}}</p>
</div>

<h2>projects</h2>
<div ng-repeat="e in user.projects">
	<p>{{e}}</p>
</div>

<h2>contributions</h2>
<div ng-repeat="e in user.contributions">
	<p>{{e}}</p>
</div>

<h2>likes</h2>
<div ng-repeat="e in user.likes">
	<p>{{e}}</p>
</div>