<div id="view-user-container">

	<div ng-include="'ng-client/modules/partials/header-simple.html'"></div>

	<div class="container">

		<div ng-controller="challengeCtrl" ng-init="addInit()">

			<h1>Nuevo Concurso</h1>

			<div class="row">

				<div class="col-md-4 col-md-offset-4 well">

					<form novalidate class="simple-form" >
						<p>Dominio <input type="text" ng-model="challenge.slug" class="form-control" /></p>
						<p><small>Sólo números y letras de entre 5 y 10 caracteres, sin espacios.</small></p>
						<button ng-click="add(challenge)" class="btn btn-block btn-primary">grabar</button>
					</form>

				</div>

			</div>

		</div>

	</div>

</div>