<div id="view-user-container">

	<div ng-include="'ng-client/modules/partials/header-simple.html'"></div>

	<div ng-controller="challengeCtrl" ng-init="editInit()" class="container">
		<h1>Editar Concurso</h1>
		<a href="/#/challenge/{{challenge._id}}/edit/projects">Modificar postulaciones</a>
		<form role="form" novalidate class="form-horizontal simple-form">
			<h2>Options</h2>
			<p>Slug {{challenge.slug}}</p>
			<p>Título <input type="text" ng-model="challenge.title" /></p>
			<p>Subtitle<input type="text" ng-model="challenge.subtitle" /></p>
			<p>Descripción<div text-angular ng-model="challenge.description"></div></p>
			<p>Abierto <input type="text" ng-model="challenge.open" /></p>
			<p>Contacto <input type="text" ng-model="challenge.contact" /></p>
			<p>Color de los links <input type="text" ng-model="challenge.link_color" /></p>

			<div>
				<h2>Button</h2>
			  	<p>label <input type="text" ng-model="challenge.call_to_action.label" /></p>
			  	<p>help <input type="text" ng-model="challenge.call_to_action.help" /></p>
			  	<p>color <input type="text" ng-model="challenge.call_to_action.color" /></p>
			  	<p>bgcolor <input type="text" ng-model="challenge.call_to_action.bgcolor" /></p>
			</div>

			<div>
				<h2>Pages
					<span>
					  [<a href ng-click="challenge.pages.push({})">add</a>]
					</span>
				</h2>
				<div ng-repeat="page in challenge.pages">
				  	<p>title <input type="text" ng-model="page.title" /></p>
				  	<div text-angular ng-model="page.text"></div>
				  	<select ng-model="page.content_type" ng-options="content for content in $parent.page_contents_type">
					  <option value="">-- select --</option>
					</select>
				    [<a href ng-click="challenge.pages.splice($index, 1)">X</a>]
				</div>
			</div>

			<div>
				<h2>Stages
					<span>
					  [<a href ng-click="addStage()">add</a>]
					</span>
				</h2>
				<div ng-repeat="stage in challenge.stages">
				  	<p>name <input type="text" ng-model="stage.name" /></p>
				  	<p>start <input type="text" ng-model="stage.start" /></p>
				  	<p>end <input type="text" ng-model="stage.end" /></p>
				  	<p>permisos</p>
				  	<select ng-show="stage.permissionOptions.length > 0" ng-model="stage.selectedPermission" ng-options="permission for permission in stage.permissionOptions">
					  <option value="">-- select --</option>
					</select>
					<a ng-show="stage.permissionOptions.length > 0" href="javascript:;" ng-click="addPermission(stage)">add permission</a>
				  	<p ng-repeat="perm in stage.permissions">
				  		{{perm}} [<a href ng-click="removePermission(stage,$index)">X</a>]
				  	</p>
				  	[<a href ng-click="challenge.stages.splice($index, 1)">X</a>]
				</div>
			</div>

			<div>
				<h2>Header Images
					<span>
					  [<a href ng-click="challenge.header_images.push('')">add</a>]
					</span>
				</h2>	
				<p>TODO: hacer load file </p>
				<div ng-repeat="header_image in challenge.header_images track by $index">
				  	<p>img <input type="text" ng-model="challenge.header_images[$index]" /></p>
				    [<a href ng-click="challenge.header_images.splice($index, 1)">X</a>]
				</div>
			</div>

			<div>
				<h2>Submit fields</h2>

				<p> type
					<select ng-model="challenge.selectedSubmit.type" ng-options="option for option in projectOptions">
						<option value="">-- select --</option>
					</select>
				</p>
				<p>label <input type="text" ng-model="challenge.selectedSubmit.label" /></p>
				<p>help <input type="text" ng-model="challenge.selectedSubmit.help" /></p>
				<p>destacado <input type="checkbox" ng-model="challenge.selectedSubmit.important" ng-true-value="true" ng-false-value="false" /></p>
				<p> order
					<select ng-model="challenge.selectedSubmit.order" ng-options="option for option in fieldOrders">
						<option value="">-- select --</option>
					</select>
				</p>

				<span>
				  [<a href ng-click="addSubmitField(challenge.selectedSubmit)">add submit field</a>]
				</span>
				<div ng-repeat="field in challenge.submit_fields track by $index">
					{{field.type}} | 
					{{field.label}} | 
					{{field.help}} | 
					{{field.order}} | 
					{{field.important}} | 
				    [<a href ng-click="removeSubmitField($index)">X</a>]
				</div>
			</div>

			<div>
				<h2>Categorías
					<span>
					  [<a href ng-click="challenge.categories.push('')">add</a>]
					</span>
				</h2>
				<div ng-repeat="cat in challenge.categories track by $index">
				  	<p>cat <input type="text" ng-model="challenge.categories[$index]" /></p>
				    [<a href ng-click="challenge.categories.splice($index, 1)">X</a>]
				</div>
			</div>

			<button ng-click="update(challenge)">grabar</button>
		</form>
	</div>

</div>