<div id="view-user-container">

	<div ng-include="'ng-client/modules/partials/header-simple.html'"></div>

	<div ng-controller="challengeCtrl" ng-init="editInit()" class="container">
		<h1>Editar Concurso</h1>
	


		<form novalidate name="formChallengeEdit" role="form" class="simple-form" ng-submit="update(challenge, formChallengeEdit)">
			<ul class="nav nav-tabs" role="tablist">
			  <li class="active"><a data-target="#info-fields" role="tab" data-toggle="tab">Datos básicos</a></li>
			  <li><a data-target="#call-to-action-fields" role="tab" data-toggle="tab">Botón participar</a></li>
			  <li><a data-target="#pages" role="tab" data-toggle="tab">Pestañas</a></li>
			  <li><a data-target="#steps" role="tab" data-toggle="tab">Etapas</a></li>
			  <li><a data-target="#image-header-fields" role="tab" data-toggle="tab">Encabezado</a></li>
			  <li><a data-target="#submission-fields" role="tab" data-toggle="tab">Campos de proyecto</a></li>
			  <li><a data-target="#categories" role="tab" data-toggle="tab">Categorías</a></li>
			</ul>
			<!-- Tab content -->
			<div class="tab-content">
				<!-- Info -->
				<fieldset ng-include="'/ng-client/modules/challenge/partials/info-fields.html'" class="tab-pane active" id="info-fields"></fieldset>
				
				<!-- Call to action button -->
				<fieldset ng-include="'/ng-client/modules/challenge/partials/call-to-action-fields.html'" class="tab-pane" id="call-to-action-fields"></fieldset>
				
				<!-- Pages -->
				<fieldset class="tab-pane" id="pages">
					<legend>Páginas
						<span>
						  <a href ng-click="challenge.pages.push({})" class="btn"><span class="glyphicon glyphicon-plus"></span></a>
						</span>
					</legend>
					<div ng-repeat="page in challenge.pages" ng-include="'/ng-client/modules/challenge/partials/page-form.html'"></div>
				</fieldset>

				<!-- Challenge steps -->
				<fieldset class="tab-pane" id="steps">
					<legend>Etapas
						<span>
						  <a href ng-click="addStage()" class="btn"><span class="glyphicon glyphicon-plus"></span></a>
						</span>
					</legend>
					<div ng-repeat="stage in challenge.stages" ng-include="'/ng-client/modules/challenge/partials/step-form.html'"></div>
				</fieldset>
				
				<!-- Challenge image header -->
				<fieldset ng-include="'/ng-client/modules/challenge/partials/image-header-fields.html'" class="tab-pane" id="image-header-fields"></fieldset>
				
				<!-- Project submission fields -->
				<fieldset ng-include="'/ng-client/modules/challenge/partials/submission-fields.html'" class="tab-pane" id="submission-fields"></fieldset>
				
				<!-- Project categoríes -->
				<fieldset ng-include="'/ng-client/modules/challenge/partials/category-fields.html'" class="tab-pane" id="categories"></fieldset>			
			</div>

			<div class="form-group">
				<a href="/#/challenge/{{challenge._id}}/edit/projects" class="btn btn-default">Modificar postulaciones</a>
				<input type="submit" class="btn btn-primary" value="Grabar">
			</div>
		</form>
	</div>

</div>