<div id="view-challenge-container" ng-controller="challengeCtrl" ng-init="viewInit()">
	
	<div class="jumbotron" ng-style="getCssJumbotron(challenge)">
		<div class="container">
			<h1>{{challenge.title}}</h1>
			<p>{{challenge.subtitle}}</p>
			<ul id="myTab" class="nav nav-tabs">
				<li ng-repeat="p in challenge.pages | orderBy: 'weight' " ng-class="{active: p.active}">
					<a href="#{{slugify(p.title)}}-page" data-toggle="tab">{{p.title}}</a>
				</li>
		</ul>
		</div>

	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-7">

				<div id="tab-content-container" class="tab-content">
					<div class="tab-pane {{p.content_type}}" id="{{slugify(p.title)}}-page" ng-repeat="p in challenge.pages | orderBy: 'weight'" ng-class="{active: p.active}">
						<ng-include src="'/ng-client/modules/challenge/partials/' + p.content_type + '-type.html'"></ng-include>
					</div>
				</div>
			</div>

			<div class="col-md-4 col-md-offset-1">
				<div ng-if="userCanEdit" class="adminbar">
					<h4 ng-style="getCssColor(challenge)">Administración:</h4>
					<p><a href="/#/challenge/{{challenge._id}}/edit">Editar</a></p>
					<p><a href="/#/challenge/{{challenge._id}}/edit/projects">Ver postulaciones</a></p>
				</div>

				<div class="well" ng-if="isAbleTo('submit',challenge)">
					<a 	ng-click="openParticipatePopup()" ng-style="getCssButtonColors(challenge)" href="javascript:;" class="btn btn-lg btn-block btn-primary">
							{{challenge.call_to_action.label}}
					</a>
					<p class="text-center">{{challenge.call_to_action.help}}</p>
				</div>
				<p ng-if="challenge.open"><h5><span class="label label-success">ABIERTO</span></h5></p>
				<p ng-if="!challenge.open"><span class="label label-danger">CERRADO</span></p>

				<div ng-if="challenge.open && currentStages.stages.length>0" class="sidebar-data">
					<h4 ng-style="getCssColor(challenge)">Etapas actuales:</h4>
					<ul>
						<li ng-repeat="s in currentStages.stages">
							<p><strong>{{s.name}}</strong> : Desde el {{s.start | date:'dd-MM-yyyy'}} a las {{s.start | date:'HH:mm'}}Hs. hasta el {{s.end | date:'dd-MM-yyyy'}} a las {{s.end | date:'HH:mm'}}Hs.</p>
						</li>
					</ul>
				</div>

				<div class="sidebar-data">
					<h4 ng-style="getCssColor(challenge)">Contacto:</h4>
					<p><a href="mailto:{{challenge.contact}}">{{challenge.contact}}</a></p>
				</div>

			</div>
		</div>
	</div>

	<div class="modal fade bs-example-modal-lg" id="participate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<!-- Modal header -->
				<div class="modal-header" ng-style="getCssBorderTop(challenge)">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h3 class="modal-title" id="myModalLabel">Participá ahora en: <strong>{{challenge.title}}</strong></h3>
				</div>

				<!-- Modal body -->
				<div class="modal-body">
					<form role="form">
						<div  ng-show="challenge.categories.length > 0" class="form-group">
							<label>Categoría:</label>
							<select class="form-control" ng-model="project.tags" ng-options="option for option in challenge.categories">
								<option value="">-- seleccionar --</option>
							</select>
							<small>Seleccione una categoría</small>
						</div>
						<div class="form-group" ng-repeat="s in challenge.submit_fields | orderBy:'order'">
							<field-component field-schema="s" field-data="project[s.type]" view-mode="normal" edit="true"/>
						</div>
					</form>
					<p class="text-center">{{challenge.call_to_action.help}}</p>
				</div>
				
				<!-- Modal footer -->
				<div class="modal-footer">
					<button data-dismiss="modal" ng-click="addProject(project)" ng-style="getCssButtonColors(challenge)" class="btn btn-lg btn-block btn-primary">
						{{challenge.call_to_action.label}}
					</button>
				</div>
			</div>
		</div>
	</div>