<div id="view-challenge-container" ng-controller="challengeCtrl" ng-init="viewInit()">
	
	<div class="jumbotron" ng-style="getCssJumbotron(challenge)">
		<div class="container">
			<h1>{{challenge.title}}</h1>
			<p>{{challenge.subtitle}}</p>
			<ul id="myTab" class="nav nav-tabs">
				<li class="active">
					<a href="#home" data-toggle="tab">Inicio</a>
				</li>
			   	<li ng-repeat="p in challenge.pages">
					<a href="#{{p.content_type}}-page" data-toggle="tab">{{p.title}}</a>
				</li>
				<li>
					<a href="#stages" data-toggle="tab">Etapas</a>
				</li>
				<li>
					<a href="#submissions" data-toggle="tab">Propuestas ({{projects.length}})</a>
				</li>
			</ul>
		</div>

	</div>

	<div class="container">
	  <div class="row">
	    <div class="col-md-7">

				<div id="tab-content-container" class="tab-content">
				  
					<div class="tab-pane active" id="home">
						<p ng-bind-html="challenge.description"></p>
					</div>

					<div class="tab-pane" id="stages">
						<h2>Etapas</h2>
						<ul>
							<li ng-repeat="s in challenge.stages">
								<strong>{{s.name}}</strong> : Desde el {{s.start | date:'dd-MM-yyyy'}} a las {{s.start | date:'HH:mm'}}Hs. hasta el {{s.end | date:'dd-MM-yyyy'}} a las {{s.end | date:'HH:mm'}}Hs.
							</li>
						</ul>
					</div>

					<div class="tab-pane" id="{{p.content_type}}-page" ng-repeat="p in challenge.pages">
						<div ng-bind-html="p.text" ng-init="applyCssColor(challenge,'tab-content-container')"></div>
					</div>

					<div class="tab-pane" id="submissions">
						<h2>Participaciones: ({{projects.length}})</h2>
							<div class="row">
								<div class="col-md-12">
									<p ng-if="challenge.categories.length > 0">
										<select ng-model="filter.cat" ng-options="option for option in challenge.categories" ng-change="changeFilter()" class="form-control input-lg">
											<option value="">Todas las categorías</option>
										</select>
									</p>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<select ng-model="order" ng-change="changeFilter()" class="form-control input-lg">
										<option value="">Fecha de creación</option>
										<option value="status">Premio</option>
										<option value="votes">Votos</option>
									</select>
								</div>
							</div>

							<div ng-show="projects.length == 0" class="row">
								<p>No hay participaciones con este filtro</p>
							</div>


							<div class="row">
								<div class="col-md-6" ng-repeat="project in projects" ng-include="'ng-client/modules/project/card.html'">

								</div>
							</div>
					</div>

				</div>

	    </div>

	    <div class="col-md-4 col-md-offset-1">

	    	<div class="well" ng-if="isAbleTo('submit',challenge)">
				<a 	ng-click="openParticipatePopup()" ng-style="getCssButtonColors(challenge)" href="javascript:;" class="btn btn-lg btn-block btn-primary">
						{{challenge.call_to_action.label}}
					</a>
					<p class="text-center">{{challenge.call_to_action.help}}</p>
			</div>

                <p ng-if="challenge.open"><h5><span class="label label-success">ABIERTO</span></h5></p>
                <p ng-if="!challenge.open"><span class="label label-danger">CERRADO</span></p>

			<div ng-if="challenge.open && currentStages.stages.length>0" class="sidebar-data">
				<h4 ng-style="getCssColor(challenge)">Etapas actuales:</h4>
				<ul>
					<li ng-repeat="s in currentStages.stages">
						<strong>{{s.name}}</strong> : Desde el {{s.start | date:'dd-MM-yyyy'}} a las {{s.start | date:'HH:mm'}}Hs. hasta el {{s.end | date:'dd-MM-yyyy'}} a las {{s.end | date:'HH:mm'}}Hs.
					</li>
				</ul>
			</div>

			<div class="sidebar-data">
				<h4 ng-style="getCssColor(challenge)">Creado:</h4>
				<p>{{challenge.created_at | date:'dd-MM-yyyy'}}  a las {{challenge.created_at | date:'HH:mm'}}Hs.</p>
			</div>

			<div class="sidebar-data">
				<h4 ng-style="getCssColor(challenge)">Contacto:</h4>
				<p>{{challenge.contact}}</p>
			</div>

			<div ng-if="userCanEdit" class="sidebar-data">
				<h4 ng-style="getCssColor(challenge)">Actions</h4>
				<p><a href="/#/challenge/{{challenge._id}}/edit">Editar</a></p>
			</div>

	    </div>
	  </div>
	</div>

	<div class="modal fade bs-example-modal-lg" id="participate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-lg">
	    <div class="modal-content">
	      <div class="modal-header" ng-style="getCssBorderTop(challenge)">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h3 class="modal-title" id="myModalLabel">Participá ahora en: <strong>{{challenge.title}}</strong></h3>
	      </div>

	      <div class="modal-body">

			<form role="form">
			  <div class="form-group">
			    <label>Categoría:</label>
				<select class="form-control" ng-if="challenge.categories.length > 0" ng-model="project.tags" ng-options="option for option in challenge.categories">
					<option value="">-- seleccionar --</option>
				</select>
				<small>Seleccione una categoría</small>
			  </div>
			<div class="form-group" ng-repeat="s in challenge.submit_fields | orderBy:'order'">
			    <label ng-style="getCssColor(challenge)">{{s.label}}</label>
			    <input class="form-control" type="text" ng-model="project[s.type]" />
				<small>{{s.help}}</small>
			</div>
			</form>


			<p class="text-center">{{challenge.call_to_action.help}}</p>
	      </div>
	      <div class="modal-footer">
  			<a 	ng-click="addProject(project)"
			href="javascript:;" 
			ng-style="getCssButtonColors(challenge)"
			class="btn btn-lg btn-block btn-primary">
				{{challenge.call_to_action.label}}
			</a>
	      </div>
	    </div>
	  </div>
	</div>


